<li>
                    <div class="dropdown"  data-bs-theme="dark">
                        <button onclick="flag()" id="dropup" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-translate"></i>
                        </button>

                        <ul id="flags" class="dropdown-menu" aria-labelledby="dropdownMenuButtonDark">

                                <li>
                                    <a id="eng"  href="?clang=en" >
                                        <i class="flag-united-kingdom flag m-0"></i><%=translation.Album.EN%></a>
                                </li>



                                <li>
                                    <a id="pl"  href="?clang=pl" ><i class="flag-poland flag"></i><%=translation.Album.PL%></a>

                                </li>


                            <li>
                                <a id="fr" href="?clang=fr" ><i class="flag-france flag"></i><%=translation.Album.FR%></a>

                            </li>
                            <li>
                                <a id="ht"  href="?clang=ht"><i class="flag-haiti flag"></i><%=translation.Album.HT%></a>

                            </li>



                        </ul>
                    </div>

</li>



<!--
<li>
    <ul id="flag" >
        <div class="d-flex">

            <div class="dropdown mr-1">
                <button onclick="flag()" id="dropup" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropup
                </button>

                <div id="flags" class="dropdown-menu" aria-labelledby="dropdownMenuOffset">

                    <a id="eng"  href="?clang=en" >
                        <i class="flag-united-kingdom flag m-0"></i><%=translation.Album.EN%></a>

                    <a id="pl"  href="?clang=pl" ><i class="flag-poland flag"></i><%=translation.Album.PL%></a>



                    <a id="fr" href="?clang=fr" ><i class="flag-france flag"></i><%=translation.Album.FR%></a>



                    <a id="ht"  href="?clang=ht"><i class="flag-haiti flag"></i><%=translation.Album.HT%></a>

                </div>
            </div>
        </div>

    </ul>

</li>
-->

<!--

<li>
    <ul id="flag" >
        <div class="d-flex">

            <div class="dropdown mr-1">
                <button onclick="flag()" id="dropup" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropup
                </button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                    <li>
                        <a id="eng"  href="?clang=en" >
                            <i class="flag-united-kingdom flag m-0"></i><%=translation.Album.EN%></a>
                    </li>
                    <li>
                        <a id="pl"  href="?clang=pl" ><i class="flag-poland flag"></i><%=translation.Album.PL%></a>
                    </li>

                    <li>
                        <a id="fr" href="?clang=fr" ><i class="flag-france flag"></i><%=translation.Album.FR%></a>
                    </li>

                    <li>
                        <a id="ht"  href="?clang=ht"><i class="flag-haiti flag"></i><%=translation.Album.HT%></a>
                    </li>
                </div>
            </div>
        </div>

    </ul>

</li>-->



